* {
    margin: 0;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;vertical-align: baseline;}

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

ol,
ul {
    margin: 0;
    padding: 0px 0px 10px 40px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

embed,
iframe,
object {
    max-width: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

a {
    text-decoration: none;
}
.wrapper-fluid {
    position: relative;
    max-width: 3024px;
    margin: 0 auto;
}

/* Header -- START */

header {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 999;

    .logo {
        display: inline-block;
        img {
            max-width: 90px;

            @media (max-width: 1440px) {
                max-width: 45px;
            }
        }
    }

    @media (max-width: 1440px) {
        top: 20px;
        left: 20px;
    }

    @media (max-width: 768px) {
        position: relative;
        top: initial;
        left: initial;
        max-height: 50px;
        padding: 15px 15px;
        background-color: #fff;

        .logo {
            img {
                max-width: 65px;
                filter: brightness(0%);
            }
        }
    }
}

/* Header -- END */

/* Slider -- START */

.prt-slider {
    height: calc(100vh - 50px);

    .slick-list {
        max-width: 100vw;
        height: 100%;
        overflow-x: hidden;
        .slick-track {
            display: flex;
            height: 100%;
        }
    }

    .slick-arrow {
        width: 35px;
        height: 67px;
        z-index: 10;

        &::before,
        &::after {
            content: "";
            font-size: 0px;
            position: absolute;
            width: 2px;
            height: 35px;
            background-color: #fff;
        }
        &::before {
            top: 0;
            transform: rotate(25deg);
        }   
        &::after {
            transform: rotate(-25deg);
            bottom: 0;
        }
        &.slick-prev {
            left: 10px;

            &.slick-disabled {
                pointer-events: none;
                &::after {
                    opacity: .25;
                }
            }
        }
        &.slick-next {
            right: 10px;

            &::before {
                transform: rotate(-25deg);
            }
            &::after {
                transform: rotate(25deg);
            }

            &.slick-disabled {
                pointer-events: none;
                &::after {
                    opacity: .25;
                }
            }
        }
    }
    
    .slick-dots {
        bottom: 25px;

        li {
            margin: 0 1px;
            
            button {
                width: 15px;
                height: 15px;
                padding: 3px;
                background-color: transparent;
                border: 3px solid #fff;
                border-radius: 50%;
                &::before {
                    display: none;
                }
            }
            &.slick-active {
                button {
                    background-color: #fff;
                }
            }
        }
    }
}

/* Slider -- END */